# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OS files
.DS_Store

# Virtual envs
.venv/
venv/

# Outputs / artifacts
outputs/

# Python packaging
build/
dist/
*.egg-info/

#result images
*results.jpg
*result.jpg

*.pth